%html
  %head
    %meta{:charset => "UTF-8"}
      %title Simple Parallax CSS Demo
      %link{:href => "css/style.css", :rel => "stylesheet"}
  %body
    #header
      %h1{:style => "padding:0;margin:0;"} &lt; aboutcher /&gt;;
      Pass The Buck
    #trans1.parallax
      .txt.right
        Pass
        %br/
        The
        %br/
        Buck
      %div{:style => "clear:both;"}
      .txt.right.sub
        Sexy New Station with some tiltshift filters!
    .content
      / = image_tag("sharing-group-travel.jpg", width: "30%", :alt => 'group image')
      / %img{:alt => "image of group", :src => "app/assets/images/sharing-group-travel.jpg", :style => "float:right;margin-top:10px;margin-right:100px;"}/
      %h2 Welcome to my Parallax CSS Demo
      %p I didn't have any cool pictures so I found some appropriate ones I took of the Tyne and Wear Metro.
      %p All images are copyright myself and Nexus Metro
      %p The tiniest bit of jquery has been used to set the first images height so it fills the window; this is optional.
      %p
        Desktop Support:
        = succeed "," do
          %strong Firefox
        %strong Chrome
        and
        = succeed "," do
          %strong IE
        it even has basic support for
        %em IE7
        (The images display and work but they need to be HUGE as backgrounds won't stretch).
      %p
        Mobile Support:
        %em Chrome
        \-
        = succeed "," do
          %strong OK
        %em Android Browser
        \-
        = succeed "," do
          %strong Broken
        %em iOS
        \-
        = succeed "." do
          %strong Not Tested
      %p Not responsive but support shouldn't be hard to put in.
      %div{:style => "clear:both;"}
    #trans2.parallax
      .txt.left
        A Metro Train.
      %div{:style => "clear:both;"}
      .txt.left.sub
        Speeding Faster than the Speed of Light!
        = succeed "Or" do
          %br/
        just a really blurry Photo&hellip;
    .content.right
      %a{:href => "http://nexus.org.uk/"}
        %img{:alt => "Neux Logo", :src => "http://pics.aboutcher.co.uk/cpio/nexus-logo.png", :style => "float:left;margin-top:10px;margin-left:100px;"}/
      %h2 Another Content Block
      %p You can put any old rubbish in here!
      %div{:style => "clear:both;"}
    #trans3.parallax
      .txt.left
        Another fast moving Metro
      %div{:style => "clear:both;"}
      .txt.left.sub
        \&middot; Gateshead Interchange Metro Station
        %br/
        \&middot; Some people too
    #footer
      %p Feel free to reuse the code but NOT the images.
      Images are Copyright 2013 -
      %a{:href => "http://www.aboutcher.co.uk"} Adam Boutcher
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{:src => "js/index.js"}