!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GroupBudget
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    -# %link{:href => "owl-carousel/owl.carousel.css", :rel => "stylesheet"}
    -# %link{:href => "owl-carousel/owl.theme.css", :rel => "stylesheet"}
    -# %script{:src => "owl-carousel/owl.carousel.js"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .buffer-class
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
          %a.navbar-brand{:href => '#'}
            = link_to image_tag("oval-ptb-logo.png"), root_path, class: "ptb-logo navbar-brand grow"
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to 'About us', about_path, class:'white'
            %li
              = link_to 'FAQ', faq_path, class:'white'
            - if user_signed_in?
              -# %li
              -#   %a{:href => "#"}
              -#     = link_to 'Edit account info', edit_user_registration_path
              %li
                = link_to 'Logout', destroy_user_session_path,class:'white', method: :delete
            - else
              %li
                = link_to 'Login', new_user_session_path, class:'white'
              %li
                = link_to 'Sign up', new_user_registration_path, class:'white'
    %p.notice= notice
    %p.alert= alert

    - if user_signed_in?
      %p.text-center
        Welcome #{current_user.username}
    = yield
