!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GroupBudget
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .buffer-class
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
          %a.navbar-brand{:href => root_url} Pass The Buck
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                %a{:href => "#"}
                  = link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li
                %a{:href => "#"}
                  = link_to 'Login', new_user_session_path
              %li
                %a{:href => "#"}
                  = link_to 'Sign_up', new_user_registration_path
    %p.notice= notice
    %p.alert= alert
    = yield
